body {
    user-select: none;
    background: url(https://cn.bing.com/th?id=OHR.LassenPeak_ZH-CN5435067682_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
}

#title {
    background-color: rgba(11, 122, 226, 0.849);
    text-align: left;
    padding: 10px;
    color: white;
}

#app {
    width: 85%;
    height: 40px;
    position: absolute;
    left: 0;

    bottom: 25px;
    left: 20px;
    margin: auto;
    font-size: 16px;
}

#sendMsg {
    width: 70%;
    height: 100%;
    left: 0;
    font-size: 18px;
    position: absolute;
    border-style: outset;
    border-color: #ccc;

}

#sendMsg:hover {
    box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;

}

#submitBtn {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    border-style: outset;
    border-width: 1px;
    background: #337ab7;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    padding: 10px;
    color: white;

}

#submitBtn:hover {
    background: #e4e4e4;
    color: black;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 5px 10px;
    cursor: pointer;
    border-color: #e4e4e4;
}

#txt {
    width: 60%;
    height: 85%;
    position: fixed;
    left: 0;
    font-size: 16px;
    background-color: #aab7c498;
    border-color: #337ab7;
}

#msg {
    position: absolute;
    width: 90%;
    height: 80%;

    border: 0px solid #ccc !important;
    padding: 14px;

    bottom: 50px;
    left: 20px;
    right: 0;
    top: 5px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.411);
    transition: all .25s;
}


#msg:hover {
    background-color: rgba(255, 255, 255, 0.808);
}

#det {
    position: absolute;
    left: 101%;
    width: 300px;
    background: #72baf8;

}

#new_nickname {
    border-bottom: 2px solid #ccc !important;
    padding: 3px;
    border-color: #f44336 !important;
    width: 150px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px
}

#change {
    width: 60px;
    height: 30px;
    right: 40px;
    border-style: outset;
    background: #337ab7;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    border-color: #337ab7;
    color: white;
}

#change:hover {
    background: #e4e4e4;
    color: black;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 5px 10px;
    cursor: pointer;
    border-color: #e4e4e4;
}

.p {
    position: absolute;
    top: 101%;
}

#conn_list {
    right: 0;
}

#conn_list_parent {
    position: absolute;

    right: 0;
    width: 15%;
    height: 80%;


    padding-left: 5px;
    padding-top: 4px;
    margin: auto;
    overflow-x: auto;
    overflow-y: auto;

    background-color: #e7e9eb8e;
    transition: all .25s;
}

#conn_list_parent:hover {
    background-color: #e7e9ebea;
}

#change_name {
    position: relative;
    background: #72baf8;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: all .25s;
}

#change_name:hover {
    background: #ccc;
    color: black;
}

#change_parent {
    text-align: center;
}

#connect {
    position: relative;
    background: #72baf8;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: all .25s;
}

#connect:hover {
    background: #ccc;
    color: black;
}

#disconnect {
    position: relative;
    background: #72baf8;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: all .25s;
}

#disconnect:hover {
    background: #ccc;
    color: black;
}

#state{
    font-size: 16px;
    display: inline;
    background-color: rgba(212, 212, 212, 0.808);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    transition: all .25s;
}

#state:hover{
    background-color: rgb(180, 237, 247);
    -webkit-box-shadow: rgba(0,0,0,0.548) 0px 5px 10px;
 	-moz-box-shadow: rgba(0,0,0,0.548) 0px 5px 10px;
	box-shadow: rgba(0, 0, 0, 0.548) 0px 5px 10px;
}

input {
    background-color: white;
    transition: all .25s;

}

input:hover {
    background-color: rgb(209, 209, 209);
}

button {
    border-width: 0px;
}

input {
    border: 1px solid #d2d2d2;
}