.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: 600px;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    user-select: none;
}
.alert-success {
    color: rgba(60, 118, 61, 0.5);
    background-color: #dff0d8;
    border-color: #d6e9c6;
    user-select: none;
}
.alert-info {
    color: rgba(49, 112, 143, 0.5);
    background-color: #d9edf7;
    border-color: #bce8f1;
    user-select: none;
}
.alert-warning {
    color: rgba(138, 109, 59, 0.5);
    background-color: #fcf8e3;
    border-color: #faebcc;
    user-select: none;
}
.alert-danger {
    color: rgba(148, 68, 66, 0.5);
    background-color: #f2dede;
    border-color: #ebccd1;
    user-select: none;
}
